.form-width {
    max-width: 400px;
}

.screen {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.section-side{
    width: 30%;
    max-width: 280px;
    min-width: 100px;
}