{% extends 'main.html.twig' %}

{% block body %}
    <span class="mb-3">{{ query }}</span>
    <div class="d-flex align-items-center">
        <a class="btn btn-primary" href={{onConfirm}}>Confirm</a>
    </div>
{% endblock %}