{% extends "base.html.twig" %}

{% block menuPoints %}
    {% for link, menuPoint in menuPoints %}
        <li class='nav-item'>
            {% if link == currentPoint %}
                <a href={{ link }} class='nav-link text-white active'>
                    {{ menuPoint }}
                </a>
            {% else %}
                <a href={{ link }} class='nav-link text-white'>
                    {{ menuPoint }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}