{% extends "base.html.twig" %}

{% block body %}
    {% if not (error is same as false) %}
        <div class='alert alert-danger'>
                {{ error }}
        </div>
    {% endif %}
    {{ include('userform.html.twig') }}
    <div>
        You already have an account. Click <a href='loginfromform'>here</a> to get to the login instead.
    </div>
{% endblock %}