{% extends "main.html.twig" %}

{% block body %}
    {% if not (error is same as false) %}
        <div class='alert alert-danger'>
                {{ error }}
        </div>
    {% endif %}
    {% if not (success is same as false) %}
        <div class='alert alert-success'>
                {{ success }}
        </div>
    {% endif %}

    {{ include('userform.html.twig') }}
{% endblock %}